extends layout

block content
	div#content.bs-docs-header
		div.container
			h1 首页
			p 本Demo简单演示了如何使用Express 4.x 与MongoDb实现增删改查等Web网站最基本的功能。
	div.container#margin_top_30
		div.row
			a(href="add",type="button",class="btn btn-primary") 添加一条数据
		div.row
			h3 数据列表
			div.table-responsive
				table.table.table-bordered.table-hover
					thead
						tr
							th id
							th uid
							th title
							th content
							th createTime
							th 操作
					tbody
						each item in demos
							tr(class="item-id-#{item.id}")
								td #{item.id}
								td #{item.uid}
								td #{item.title}
								td #{item.content}
								td #{item.createTime}
								td
									a(href='/del/:#{item.id}') 删除 
									|| 
									a(href='/update/:#{item.id}') 修改
